/*Product Details*/
.product-information {
.detail-panel{
    margin-left:50px;
    margin-right:50px;
    display: grid;
    grid-template-columns: 850px 300px;
    grid-column-gap: 20px;
    grid-template-rows: auto;
}

.title{
    font-size: 2em;
    font-weight: bold;
}

.nav-bar-shortcut{
    margin-top:10px;
    margin-bottom:10px;
    color:rgb(160, 160, 160);
}
.rating{
    color:rgb(0, 149, 248);
    padding:5px;
}
.product-preview{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.small-thumnbail img{
 width:65%;
 border: 1px solid rgb(211, 211, 211);
 padding:5px;
 margin-bottom: 5px;
 opacity: .5;
 cursor: pointer;
}

.small-thumnbail img:first-child{
opacity: 1;
}

.small-thumnbail img:hover{
    opacity: 1; 
}

 .large-thumnbail img{
    width:400px;
    top:50%;
    left:50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.product-details{
    padding-top:40px;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}



.product-price{
    height:50px;
}
.product-price .sell-price{
    font-weight: bold;
    font-size: 2.5em;
    display: block;
}

.product-price .save-price{
    background-color:red;
    padding:5px;
    color:#fff;
}

.color-bar{
    width:30px;
    height: 30px;
    border-radius: 100%;
    border:1px solid grey;
    padding:5px;
    background-color:hotpink;
    display: inline-block;
}

.detail-specification{
    padding: 10px 70px 10px 100px;
    width: 700px
}

}