body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
        .clearfix::after {
            content: '';
            display: table;
            clear: both;
        }

        .headers {
            height: 120px;
            background-color: #195a8e;
            padding: 10px 50px 10px 50px;
            color: #fff;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 41% 46%;
        }


        .logo {
            background-image: url('./logo.png');
            width: 257px;
            height: 50px;
            background-size: cover;
            float: left;
            margin-left: 6px;
        }



        .site-nav ul {
            list-style: none;
            display: flex;
            line-height: 5px;
        }

        .site-nav a {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            padding: 20px;
            display: inline-block;
            font-weight: bold;
        }

        .site-nav .active a,
        .site-nav a:hover {

            color: #195a8e;
            background: #f1c312;
            border-radius: 5%;
        }



        .left-nav {
            padding-left: 0px !important;
            font-size: 1.7rem;
            padding-top: 10px;
        }

        .search-panel-control {
            height: 50px;
        }

        .cart {
            padding: 14px;
        }

        .cart-count {
            background-color: #fff;
            border-radius: 5px;
            color: #195a8e;

        }

        .main-content {
            padding: 10px 50px 10px 50px;
            display: grid;
            grid-template-columns: 15% auto;
            grid-column-gap: 20px;
            grid-template-rows: 100%;

        }
