.Footer{
    height: 605;
    background-color:#666;
    padding: 35px;
    border-bottom: 2px solid rgb(59, 59, 59);
    color:#fff;
    display: flex;
    flex-direction: row;
}
.FooterBottm{
    padding: 18px 0;
    color:#fff;
    font-size: 12px;
    text-align: center;
    background-color:#666;
}
