body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.main-content {
    padding: 10px 50px 10px 50px;
    display: grid;
    grid-template-columns: 15% auto;
    grid-column-gap: 20px;
    grid-template-rows: 100%;

}


/*Filter Panel*/
.collapsed-icon-toggle.collapsed .on-closed {
display: initial;
}
.collapsed-icon-toggle.collapsed .on-opened {
display: none;
}
.collapsed-icon-toggle .on-closed {
display: none;
}
.collapsed-icon-toggle .on-opened {
display: initial;
}
.scroll-v-250px {
max-height: 250px;
overflow-y: scroll;
}
.padding-v-xs {
padding-top: 2px;
padding-bottom: 2px;
}
.btn.ico span.icon {
opacity: 0;
}
.btn.ico.active span.icon {
opacity: 1;
}


.detail-panel{
display: flex;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}

/*Items*/
.detail-panel-items{
display: grid;
    grid-template-columns: auto;
    grid-row-gap: 5px;
    grid-template-rows: 265px auto auto auto auto;
    width:273px;
    padding: 15px;
}

.detail-panel-items .item-images img{
height: 90%;
}
.detail-panel-items .item-images img:hover{
    height: 92%;
    }

.detail-panel-items .title{
font-weight: bolder;
font-size: 1.1em;

}

.detail-panel-items .price{
font-weight: bolder;
font-size: 1.6em;

}


.detail-panel-items .save span{
text-decoration:line-through;
}

.detail-panel-items .save strong{
color:blue;
}